<footer class="footer">
  <div class="footer-topContainer">
    <a href="/">
      <div class="footer-logoAndName">
        <img
          src="/photobooth_logo.png"
          alt=""
          loading="lazy"
          data-animate="animate__fadeIn"
          class="animate__animated"
        />
        <div class="footer-websiteName">
          <h1>LumiBooth</h1>
        </div>
      </div></a>

    <div
      class="footer-websiteDescription animate__animated"
      data-animate="animate__fadeIn"
    >
      <p>Trình chỉnh sửa ảnh LumiBooth sẵn sàng giúp bạn ghi lại và chia sẻ cuộc
        sống của mình một cách năng động với hàng trăm bộ lọc, nhãn dán, công cụ
        trang điểm, hiệu ứng đặc biệt, v.v.!</p>
    </div>

    <div class="footer-contactMethods">
      <div class="footer-contactMethod">
        <a href="" class="facebook">
          <i class="fa-brands fa-facebook"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottomContainer">
    <div class="footer-copyRight">
      <p>Copyright &copy; 2025 <a href="/">LumiBooth</a></p>
    </div>
    <div class="footer-termsServices">
      <a href="/"><p>Điều khoản dịch vụ</p></a>
      <span>|</span>
      <a href="/"><p>Chính sách quyền riêng tư</p></a>
    </div>
  </div>
</footer>