<nav class="navbar">
  <a href="/">
    <div class="navbar-logoAndName">
      <img
        src="/photobooth_logo.png"
        alt=""
        loading="lazy"
        class="animate__animated"
        data-animate="animate__fadeIn"
      />
      <div class="navbar-websiteName animate__animated">
        <h1 data-animate="animate__fadeIn">LumiBooth</h1>
      </div>
    </div></a>
  <ul class="navbar-itemContainer">
    <a href="/">
      <li class="navbar-item animate__animated" data-animate="animate__fadeIn">
        Trang chủ
      </li></a>
  </ul>
  <ul class="navbar-userItemContainer">
    <a href="/">
      <li
        class="navbar-userItemContainerItem animate__animated"
        data-animate="animate__fadeIn"
      >
        Đăng kí
      </li></a>
    <span>|</span>
    <a href="/">
      <li
        class="navbar-userItemContainerItem animate__animated"
        data-animate="animate__fadeIn"
      >
        Đăng nhập
      </li></a>
  </ul>
</nav>