<div class="homePage">
  <div class="homePage-photoBoothContainer" id="homePage-photoBoothContainer">
    <div class="homePage-photoBoothDescription">
      <h1 class="animate__animated" data-animate="animate__fadeIn">Photo booth
        Web – Chụp ảnh lấy ngay online trên máy tính</h1>
      <p class="animate__animated" data-animate="animate__fadeIn">Chụp ảnh không
        giới hạn miễn phí với photo booth online của LumiBooth. Tô điểm thêm cho
        tấm hình bằng các khung viền và sticker để có được phong cách hoàn hảo.</p>
    </div>
    <div class="homePage-photoBoothImg">
      <img
        src="/photoboothDemo_tool.jpg"
        alt=""
        loading="lazy"
        class="animate__animated"
        data-animate="animate__fadeIn"
      />
    </div>
    <div class="homePage-startBtn">
      <a href="/photobooth">
        <button
          class="startBtn animate__animated"
          data-animate="animate__lightSpeedInRight"
        ><span><i class="fa-solid fa-camera"></i></span>Bắt đầu</button></a>
    </div>
  </div>

  <div class="homePage-introductionPhotoBoothContainer">
    <h1>Cách chụp ảnh photo booth?</h1>
    <div class="homePage-stepsContainer">
      <div
        class="homePage-step animate__animated"
        data-animate="animate__fadeIn"
      >
        <img src="/photoboothDemo_tool.jpg" alt="" class="stepImg" />
        <h2 class="stepTitle">Chụp 4 tấm ảnh</h2>
        <p class="stepDescription">Nhấn "Bắt đầu" và bắt đầu cuộc vui hết nấc!
          Bạn chỉ có 3 giây cho mỗi tấm ảnh khi máy chụp photo booth chụp 4 tấm
          liên tiếp.</p>
      </div>

      <div
        class="homePage-step animate__animated"
        data-animate="animate__fadeIn"
      >
        <img src="/photoboothDemo_tool.jpg" alt="" class="stepImg" />
        <h2 class="stepTitle">Thêm sticker và khung viền
        </h2>
        <p class="stepDescription">Sau khi chụp, chọn màu khung hình và thêm
          nhãn dán để ảnh lung linh và vui tươi hơn.

        </p>
      </div>

      <div
        class="homePage-step animate__animated"
        data-animate="animate__fadeIn"
      >
        <img src="/photoboothDemo_tool.jpg" alt="" class="stepImg" />
        <h2 class="stepTitle">Tải xuống</h2>
        <p class="stepDescription">Sau khi xong hết mọi thứ, nhấp vào "Tải
          xuống". Thế là ảnh đã sẵn sàng để chia sẻ ở mọi người ở bất cứ đâu.</p>
      </div>
    </div>
  </div>

  <div class="homePage-overview">
    <div class="overview-container">
      <h1
        class="overview-title animate__animated"
        data-animate="animate__fadeIn"
      >Chụp hình photo booth ngay</h1>
      <p
        class="overview-description animate__animated"
        data-animate="animate__fadeIn"
      >Sẵn sàng ghi lại khoảnh khắc đáng nhớ và chia sẻ hình chụp với mọi người
        – Thử ngay photo booth online của LumiBooth! Chụp ảnh, thêm stickers và
        tạo ra bộ ảnh đậm dấu ấn cá nhân.</p>
      <a href="#homePage-photoBoothContainer"><button
          class="overview-tryBtn animate__animated"
          data-animate="animate__lightSpeedInRight"
        >Thử ngay</button></a>
    </div>
  </div>
</div>
